<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="https://unpkg.com/htmx.org@latest"></script>
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>
    <body>
        <h1>HTMX</h1>
        <button hx-get="/time" hx-target="#time">Get Current Time</button>
        <button hx-get="/generate" hx-target="#dynamic-content">Generate Dynamic Content</button>
        <h2 id="time"></h2>
        <div id="dynamic-content"></div>
    </body>
</html>
